Repository technote-space/release-github-actions-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: javascript, typescript, php, Type: Testing, Type: Documentation

.github/labeler.yml:

javascript:
  - '**/*.js'
typescript:
  - '**/*.ts'
php:
  - '**/*.php'

'Type: Testing':
  - '**/tests/*'
  - '**/test/*'
  - '**/__tests__/*'

'Type: Documentation':
  - '**/*.md'

Create toc.yml
  .github/workflows/toc.yml
Labels: none

Add files via upload
  .github/workflows/gh_releases.yml
  .github/workflows/issue_opened.yml
  .github/workflows/pr_opened.yml
  .github/workflows/pr_updated.yml
  .github/workflows/project_card_moved.yml
  .github/workflows/released.yml
Labels: none

chore: gitignore
  .gitignore
Labels: none

chore: composer type
  composer.json
Labels: none

feat: add description
  README.md
Labels: Type: Documentation

chore: update README
  README.md
Labels: Type: Documentation

feat: update script
  bin/setup.sh
Labels: none

chore: tweaks
  .env.sample
  .gitignore
  README.md
  composer.json
Labels: Type: Documentation

feat: set exit code
  bin/fixture/prepare.js
  bin/fixture/push.js
Labels: javascript

chore: trvial changes
  .github/CONTRIBUTING.md
Labels: Type: Documentation

chore: update README
  README.md
Labels: Type: Documentation

chore: remove comment
  bin/setup.sh
Labels: none

feat: add feature to specify ref
  bin/fixture/prepare.js
  bin/prepare.sh
Labels: javascript

chore: update usage message
  bin/check.sh
Labels: none

feat: error handling
  bin/fixture/commit.js
  bin/fixture/prepare.js
  bin/fixture/push.js
Labels: javascript

feat: add feature to specify ref
  bin/fixture/push.js
  bin/push.sh
Labels: javascript

fix: specify ref
  bin/fixture/prepare.js
  bin/prepare.sh
  bin/push.sh
Labels: javascript

feat: update sample env
  .env.sample
Labels: none

feat: use GITHUB_TOKEN
  bin/fixture/commit.js
  bin/fixture/prepare.js
  bin/fixture/push.js
Labels: javascript

Delete released.yml
  .github/workflows/released.yml
Labels: none

chore: update script
  bin/setup.sh
Labels: none
